:root {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    padding: 0.5rem 0.75rem;
  }
}

img {
  max-width: 100%;
}

a {
  color: $gold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: darken($gold, 10%);
  }
}

hr {
  border: 0;
  width: 75%;
  border-top: 1.5px solid $gold;
  margin: 5rem auto;
}

button {
  font-weight: 300px;
  border: 0;
  border-radius: 7px;
  padding: 1rem 1.2rem;
  margin: 1rem 0;
  background: $primary;
  color: wheat;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: lighten($primary, 10%);
  }
}
